doctype html
html(lang="en")
	meta(charset='UTF-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	head
		title GIT learning
		link(rel='stylesheet', href='css/style.css')
	body
		p.tit_rules_txt Основні команди GIT
		section.block 
			main.content 
				table
					tr
						th Команда
						th Значення
					tr
						td git config --global user.email <br> git config --global user.name
						td Задання параметрів які мають співпадати з профілем GitHub
					tr
						td cls
						td перегляд наявних файлів в директорії
					tr
						td ls
						td очистка екрану терміналу
					tr
						td cd (назва папки)
						td перехід в вказану директорію
					tr
						td cd ..
						td повернення до попередньої директорії
					tr
						td git init
						td ініціалізація git
					tr
						td git status
						td перегляд статусу змін в файлах
					tr
						td git add .
						td додавання для відслідкування git файлів
					tr
						td git rm --cached (назва файлу)
						td зупинка слідкування за файл
					tr
						td git commit -m ''
						td комміт змін файлів
					tr
						td git remote add origin https://github.com/boris2606/git-course.git( це приклад )
						td Привязка локального репозиторію до існуючого  
					tr
						td git push -u origin master
						td Переміщення з локального репозиторію до GitHub 
					tr
						td git push 
						td Переміщення з локального репозиторію до GitHub певних змін в проекті
					tr
						td git clone (посилання на репозиторій) 
						td Клонування репозиторію на ПК за посиланням
					tr
						td git pull 
						td Копіювання останніх змін з серверу репозиторію на локальний GIT
		p.tit_rules_txt Робота з гілками GIT
			section.block 
				main.content 
					table
						tr
							th Команда
							th Значення
						tr
							td git branch
							td Перегляд гілки на якій розташовані, та перегляд гілок які наявні
						tr
							td git branch (назва)
							td Створення гілки
						tr
							td git branch -D (назва)
							td Видалення гілки
						tr
							td git checkout (назва)
							td Перехід до необхідної гілки
						tr
							td git checkout -b (назва)
							td Створення та перехід до нової гілки
						tr
							td git merge (назва гілки)
							td Поєднання гілок (під гілкою мастер)
		p.tit_rules_txt Додаткові файли GIT
			section.block 
				main.content 
					table
						tr
							th Назва файлу
							th Значення
						tr
							td .gitignore
							td Зазначення файлів/папок від спиймання
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src='js/min.js')


